.otp{
    width: 2rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    outline: none;
    font-size: 20px;
    text-align: center;
}

.otp:focus{
    border-bottom: 3px solid rgb(27, 182, 122);
}
.otp-box div{
    display: inline-block;
    background-color: #ffffff;
    border: 1px black solid;
    border-radius: 7px;
    padding: 2;
}

#change, #resend{
    text-decoration: none;
    border: none;
    background: none;
    font-size: 1rem;
    color: rgb(100, 136, 226);
}

